<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/Introduction_to_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Employee_data={"name":"aman","age":21,"gender":"male"}
print(Employee_data)

{'name': 'aman', 'age': 21, 'gender': 'male'}

In [2]:
print(Employee_data["age"]) # accessing through key

21

***Iterations in dictionary***

In [3]:
student={"name":"aman","age":21,"marks":45}
print(student)

{'name': 'aman', 'age': 21, 'marks': 45}

In [4]:
for i in student:
  print(i) # ie we will get all keys values

name
age
marks

In [5]:
for i in student:
  print(student[i]) # accessing all values of a given dictionary

aman
21
45

In [6]:
# using values function to find values of dictionary directly
for x in student.values():
  print(x)

aman
21
45

In [8]:
# accessing both key values pairs using items() functions
for x,y in student.items():
  print(x,":",y)

name : aman
age : 21
marks : 45