<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/Loops_and_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For Loop**

In [1]:
# for loops
for i in range(1,9):
  print(i)

1
2
3
4
5
6
7
8

In [7]:
i=4
for i in range(0,8,3):
  print(i)

0
3
6

In [8]:
for i in range(1,6):
  print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [9]:
for i in range(1,6,2):
  print(i)

1
3
5

In [10]:
# multiplication tables of 7
n=7
for i in range(1,11):
  print(n,"*",i,"=",n*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [11]:
num=int(input("Enter the number:"))
for i in range(1,11):
  print(num,"*",i,"=",num*i)

Enter the number:76
76 * 1 = 76
76 * 2 = 152
76 * 3 = 228
76 * 4 = 304
76 * 5 = 380
76 * 6 = 456
76 * 7 = 532
76 * 8 = 608
76 * 9 = 684
76 * 10 = 760

**While Loop**

In [12]:
n=1
while n<=5:
  print(n)
  n+=1

1
2
3
4
5

In [13]:
x=8
while x<=18:
  print(x)
  x+=2

8
10
12
14
16
18

In [16]:
# printing tables of 7 using while loop
y=7
i=1
while i<=10:
  print(y,"*",i,"=",y*i)
  i+=1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

**while true**

In [20]:
while True:
  num1=int(input("Enter the number1:"))
  num2=int(input("Enter the number2:"))
  c=num1+num2
  print(c)

Enter the number1:1
Enter the number2:2
3
Enter the number1:6
Enter the number2:8
14
Enter the number1:9
Enter the number2:7
16
Enter the number1:87
Enter the number2:9
96
Enter the number1:90
Enter the number2:78
168

KeyboardInterrupt: Interrupted by user

In [21]:
while True:
  num1=int(input("Enter the number1:"))
  num2=int(input("Enter the number2:"))
  print(num1+num2)
  c=input("do you want to stop the program:")
  if c=="yes":
    break

Enter the number1:67
Enter the number2:5
72
do you want to stop the program:no
Enter the number1:78
Enter the number2:90
168
do you want to stop the program:yes

**Nested Loops**

In [23]:
for i in range(1,4):
  for j in range(1,11):
    print(j,end="")
  print()

12345678910
12345678910
12345678910

**For Loops with conditional statements**

In [26]:
for i in range(1,11):
  if i==3:
    print("That song is my favourite:")
  else:
    print(i)

1
2
That song is my favourite:
4
5
6
7
8
9
10

In [29]:
## To findout common multiples of 8 and 12 in this range 1-100
for i in range(1,101):
  if i%8==0 and i%12==0:
      print(i)

24
48
72
96

**While Lopps with conditional**

In [34]:
n=1
while n<=10:
  if n==6:
    print("aman")
  else:
    print(n)
  n+=1

1
2
3
4
5
aman
7
8
9
10

**Break and continue statements**

In [35]:
for i in range (1,11):
  if i==5:
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9
10

In [37]:
for i in range(1,12):
  if i==4:
    break
  else:
    print(i)
print("thanks")

1
2
3
thanks