<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/Merge_%2CJoin%2C_Concatenate_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
data1={"Emp Id":["E01","E02","E03","E04","E05","E06"],"Name":["aman","raju","rahul","vijay","prashant","sanju"],"Age":[21,23,34,24,26,28]}
data2={"Emp Id":["E01","E02","E03","E04","E05","E06"],"Salary":[26000,34000,67000,23000,58000,32000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print(df2)

  Emp Id      Name  Age
0    E01      aman   21
1    E02      raju   23
2    E03     rahul   34
3    E04     vijay   24
4    E05  prashant   26
5    E06     sanju   28
  Emp Id  Salary
0    E01   26000
1    E02   34000
2    E03   67000
3    E04   23000
4    E05   58000
5    E06   32000

In [20]:
print(pd.merge(df1,df2,on="Emp Id"))

  Emp Id      Name  Age  Salary
0    E01      aman   21   26000
1    E02      raju   23   34000
2    E03     rahul   34   67000
3    E04     vijay   24   23000
4    E05  prashant   26   58000
5    E06     sanju   28   32000

In [21]:
print(pd.merge(df1,df2,on="Emp Id",how="inner"))

  Emp Id      Name  Age  Salary
0    E01      aman   21   26000
1    E02      raju   23   34000
2    E03     rahul   34   67000
3    E04     vijay   24   23000
4    E05  prashant   26   58000
5    E06     sanju   28   32000

In [22]:
print(pd.merge(df1,df2,on="Emp Id",how="left"))

  Emp Id      Name  Age  Salary
0    E01      aman   21   26000
1    E02      raju   23   34000
2    E03     rahul   34   67000
3    E04     vijay   24   23000
4    E05  prashant   26   58000
5    E06     sanju   28   32000

In [24]:
import pandas as pd
data1={"Emp Id":["E01","E02","E03","E04","E05","E06"],"Name":["aman","raju","rahul","vijay","prashant","sanju"],"Age":[21,23,34,24,26,28]}
data2={"Emp Id":["E07","E08","E09","E10","E11","E12"],"Name":["kk","jj","mm","ll","pp","ss"],"Age":[29,89,56,78,84,35]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
pd.concat([df1,df2])

  Emp Id      Name  Age
0    E01      aman   21
1    E02      raju   23
2    E03     rahul   34
3    E04     vijay   24
4    E05  prashant   26
5    E06     sanju   28
0    E07        kk   29
1    E08        jj   89
2    E09        mm   56
3    E10        ll   78
4    E11        pp   84
5    E12        ss   35