<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Creation of data frames in pandas***

In [15]:
import pandas as pd
data={"name":["aman","prashant","charan"],"age":[21,22,23],"salary":[1,2,3]}
df=pd.DataFrame(data)
print(df)

       name  age  salary
0      aman   21       1
1  prashant   22       2
2    charan   23       3

In [16]:
DATA=pd.read_csv("/Customers_Data.csv",encoding='latin1')
print(DATA)
DATA.head()

       CustomerKey Prefix  FirstName LastName   BirthDate MaritalStatus  \
0            11000    MR.        JON     YANG    4/8/1966             M
1            11001    MR.     EUGENE    HUANG   5/14/1965             S
2            11002    MR.      RUBEN   TORRES   8/12/1965             M
3            11003    MS.    CHRISTY      ZHU   2/15/1968             S
4            11004   MRS.  ELIZABETH  JOHNSON    8/8/1968             S
...            ...    ...        ...      ...         ...           ...
18143        29479    MR.      TOMMY     TANG    7/4/1958             M
18144        29480   MRS.       NINA     RAJI  11/10/1960             S
18145        29481    MR.       IVAN     SURI    1/5/1960             S
18146        29482    MR.    CLAYTON    ZHANG    3/5/1959             M
18147        29483    MR.      JÉSUS  NAVARRO   12/8/1959             M

      Gender                    EmailAddress AnnualIncome  TotalChildren  \
0          M       jon24@adventure-works.com     $90,000               2
1          M    eugene10@adventure-works.com     $60,000               3
2          M     ruben35@adventure-works.com     $60,000               3
3          F   christy12@adventure-works.com     $70,000               0
4          F  elizabeth5@adventure-works.com     $80,000               5
...      ...                             ...          ...            ...
18143      M      tommy2@adventure-works.com     $30,000               1
18144      F      nina21@adventure-works.com     $30,000               3
18145      M       ivan0@adventure-works.com     $30,000               3
18146      M    clayton0@adventure-works.com     $30,000               3
18147      M      jésus9@adventure-works.com     $30,000               0

        EducationLevel    Occupation HomeOwner
0            Bachelors  Professional         Y
1            Bachelors  Professional         N
2            Bachelors  Professional         Y
3            Bachelors  Professional         N
4            Bachelors  Professional         Y
...                ...           ...       ...
18143  Graduate Degree      Clerical         Y
18144  Graduate Degree      Clerical         Y
18145  Graduate Degree      Clerical         N
18146        Bachelors      Clerical         Y
18147        Bachelors      Clerical         Y

[18148 rows x 13 columns]

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y

In [17]:
DATA2=pd.read_csv("/company.csv")
print(DATA2)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [18]:
DATA3=pd.read_excel("/expense3.xlsx")
print(DATA3)

         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI

In [21]:
DATA3.head()

        Date    Category Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery       Grocery      30         Cash
1 2023-01-02        Food    Restaurant     890          UPI
2 2023-01-04         123        Zomato     257          NaN
3 2023-01-06  Essentials         Diary     120          UPI
4 2023-01-06  Essentials       Perfume    1500         Cash