<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/Problem_solving_part_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
A=["aman","raju","amit","pawan"]
# write a program to swap first and fourth element
A[0],A[3]=A[3],A[0]
print(A)

['pawan', 'raju', 'amit', 'aman']

In [3]:
# write a program to add a new value at second position
A.insert(1,"rahul")
print(A)

['pawan', 'rahul', 'raju', 'amit', 'aman']

In [4]:
# write a program to delete a value from third position
A.pop(2)
print(A)

['pawan', 'rahul', 'amit', 'aman']

In [5]:
B=[13,7,12,10]
# write a program to multiply all the numbers in the list
mul=1
for i in (B):
  mul*=i

print(mul)

10920

In [6]:
# write a program to get the largest number from the lists
B.sort()
print(B)

[7, 10, 12, 13]

In [7]:
print("The largest number of the lists is:",B[-1] )

The largest number of the lists is: 13

In [8]:
print("The smallest value in the given list is:",B[0])

The smallest value in the given list is: 7