<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/Problem_solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a Program to display a persons name, age, address in three different lines**

In [ ]:
name="aman"
age=21
address="delhi"
print(name)
print(age)
print(address)

aman
21
delhi

**Write a program to swap two variables**

In [ ]:
# Method 1
x=12
y=13
temp=x
x=y
y=temp
print(x,y)

13 12

**Method-2**

In [1]:
a=45
b=78
a,b=b,a
print(a,b)

78 45

In [4]:
# Write a program to convert float into integer

x=12.8
print(type(x))
x=int(x)
print(x)
print(type(x))

<class 'float'>
12
<class 'int'>

In [5]:
#Write a program to take  a details from student for id-card then print it in different lines
print("Student ID card:")
name=input("Enter your name:")
age=int(input("Enter your age:"))
grade=input("Enter your grade:")
phone=int(input("Enter your phone:"))
print(name)
print(age)
print(grade)
print(phone)

Student ID card:
Enter your name:aman
Enter your age:22
Enter your grade:Bachelors
Enter your phone:9122768970
aman
22
Bachelors
9122768970

In [9]:
# write a program to take input from user as integer and then convert it into float
z=int(input("Enter the number:") )
z=float(z)
print(z)

Enter the number:56
56.0