<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/String_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="hello world"
print(type(a))
print(a)

<class 'str'>
hello world

In [3]:
x="My name is aman kumara,I am a btech student"
print(len(x)) # to find the length of string

43

In [4]:
# to find a number of times a character is occuring in string
print(x.count('a'))

7

In [5]:
# to convert each letter into upper case
print(x.upper())

MY NAME IS AMAN KUMARA,I AM A BTECH STUDENT

In [6]:
# to convert each letter into lower case
print(x.lower())

my name is aman kumara,i am a btech student

In [7]:
# to find index of any character
print(x.index('b'))

30

In [8]:
# to convert first letter of entire string  to capital
print(x.capitalize())

My name is aman kumara,i am a btech student

In [9]:
# to convert a string into lower case
print(x.casefold())

my name is aman kumara,i am a btech student

In [11]:
# to find index of a given character
print(x.find('i'))

8

In [12]:
# to write variables inside string
name="aman"
b="my name is {}"
print(b.format(name))

my name is aman

In [13]:
name="aman"
age=21
b="my name is {} and age is {}"
print(b.format(name,age))

my name is aman and age is 21

In [15]:
# it fills the given charactere and centralizes the string
print(name.center(9,"@"))

@@@aman@@

In [16]:
print(name.center(20,"*"))

********aman********