<a href="https://colab.research.google.com/github/aman685892/Data-Analytics-Practice/blob/main/String_functions_part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
# endswith() - returns true if the strings ends with the specified value
a="aman kumar"
print(a.endswith('r'))

True

In [34]:
print(a.endswith('k'))

False

In [35]:
# startswith()- method returns true if the string starts with a specified value
name="john raj"
print(name.startswith('j'))

True

In [36]:
print(name.startswith('k'))

False

In [37]:
# swapcase - lowercase becomes uppercase and vice-versa
x="rajkumar is My friendSHWBEJDHE"
print(x.swapcase())

RAJKUMAR IS mY FRIENDshwbejdhe

In [38]:
# strip() returns trimmed version of the string
a="Harry potter ....    ****"
print(a.strip(".,*"))

Harry potter ....

In [39]:
# split()- splits the string at the specified separator , and returns a list
y="#sjs#hus#mwk#bhwb"
print(y.split('#'))

['', 'sjs', 'hus', 'mwk', 'bhwb']

In [40]:
z="hello.my name is aman.i ma . a btech student "
print(z.split('.'))

['hello', 'my name is aman', 'i ma ', ' a btech student ']

In [41]:
# ljust() returns a left justified version of the string
a="harry potter"
print(a.ljust(20,"%"))

harry potter%%%%%%%%

In [42]:
# rjust returns a right justified versions of the string
e="harry potter"
h=e.rjust(20,"$")
print(h," is my favourite movie")

$$$$$$$$harry potter  is my favourite movie

In [43]:
# replace() returns  a string where a specified value is replaced with a specified value
name1="my name is aman"
print(name1.replace("aman","raj"))

my name is raj

In [44]:
# rindex() - searches the string for a specified value and returns the last position of where it was found
a="harry potter and the titanic movie"
print(a.rindex("titanic"))

21

In [45]:
# rfind() searches the string for a specified value and returs the last position of where it was found
a="my name is aman kumar and i will do it"
print(a.rfind("will"))

28